* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.imgs {
    display: flex;
    /* gap: 50px; */
}

.imgs {
    width: 265px;
    height: 250px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    /* object-fit: cover; */
}

img {
    margin-top: 7px;
}

.img>h2 {
    margin-top: 5px;
}




.big_text {
    color: white;
    font-size: 22px;
    text-align: center;

}

.App {
    width: 100%;
    height: auto;
    background-color: purple;
}

.big_texts {
    display: flex;
    padding: 20px;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 150px;
}

.html>img {
    width: 220px;
    height: 200px;
    margin-left: 40px;
    margin-top: 20px;
    object-fit: contain;
}

.html {
    width: 300px;
    height: 370px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    color: rgb(80, 0, 80);
}

.html>h1 {
    color: rgb(80, 0, 80);
    text-align: center;
}

h3 {
    text-align: center;
}

.html:hover {
    width: 300px;
    height: 390px;
    background-color: rgba(255, 255, 255, 0.596);
    transition: 1500ms;
}

.pictures {
    width: 300px;
    height: 250px;
    margin-top: -10px;
}

.h2 {
    text-align: center;

}

.imgs:hover {
    margin-left: 120px;
    transform: rotate(30deg);
    transition: 1000ms;

}



.footer {
    width: 100%;
    height: 350px;
    border: 1px solid white;
    font-size: 20px;
    color: white;
    padding-left: 100px;
    padding-top: 50px;
    border-radius: 50px 50px 0 0;
    display: flex;
}

.banner-text {
width: 300px;
height: 200px;
    margin-left: 250px;
    margin-top: 25px;
}

.banner {
    display: flex;
    gap: 200px;
    padding-top: 70px;
}

.banner-img>img {
    border-radius: 50%;
}

@media screen and (max-width:575px) {
    .App {
        width: 100%;
        height: auto;

    }



    .banner {
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
    }

    .banner>.banner-text>h1 {
        font-size: 25px;
        margin-left: -80px;
        margin-top: -50px;
    }

    .banner>.banner-img {
        margin-left: 180px;
    }

    .big_texts .html {
        margin-left: -10px;
    }
}