* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.big_textss {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    gap: 50px;
    flex-wrap: wrap;
}


.htmll {
    width: 300px;
    height: 370px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    color: rgb(80, 0, 80);
    overflow: hidden;
    margin-left: 80px;
}

.htmll>h1 {
    color: rgb(80, 0, 80);
    text-align: center;

}

h3 {
    text-align: center;
}

.htmll:hover {
    width: 320px;
    height: 390px;
    background-color: rgba(255, 255, 255, 0.596);
    transition: 1500ms;
}


.htmll:hover .pictures {
    transform: scale(1.1);
    transition: 1500ms;

}

.htmll:hover .pictures1 {
    transform: scale(1.1);
    transition: 1500ms;

}

.i {
    overflow: hidden;
}


.footer {
    width: 100%;
    height: 250px;
    border: 1px solid white;
    font-size: 20px;
    color: white;
    padding-left: 100px;
    padding-top: 50px;
    border-radius: 50px 50px 0 0;
    display: flex;
}

.i>img {
    width: 250px;
    height: 250px;
    margin-left: 35px;
    margin-top: 15px;
}

.i>.pictures1 {
    width: 240px;
    height: 240px;
    margin-left: 35px;
}

.here {
    width: 400px;
    height: 300px;
    color: white;
    margin-left: 200px;
    font-size: 20px;
    padding-top: 100px;
}


.banner2>.banner2-img>img {
    width: 250px;
    height: 280px;
    object-fit: cover;
    padding-top: 50px;
    
}

.banner2 {
    display: flex;
    gap: 150px;
}


@media screen and (max-width:575px) {
    .App {
        width: 100%;
        height: auto;

    }

    .App>.a {
        width: 575px;
        height: 50px;
        background-color: purple;
        border-radius: 0px 0px 20px 20px;
    }

    .App>.a>.a-s>.navbar {
        color: WHITE;
        gap: 180px;
        margin-left: -260px;
    }

    .a>h1 {
        margin-left: 80px;
        margin-top: 6px;

    }

    .banner2 {
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
    }

    .banner2>.banner2-text>.jobs > h1 {
        font-size: 25px;
        margin-top: 500px;
    }
    .banner2>.banner2-text>p {
        /* font-size: 25px; */
        margin-left: 80px;
        margin-top: -50px;
    }

    .banner2>.banner2-img > img {
margin-left: 150px;
margin-top: -100px;
    }
    .htmll{
        margin-left: 120px;
    }
}